kafka-python==1.4.5
tweepy==3.7.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
numpy==1.16
opencv-python==4.0.0.21
google-api-core==1.8.1
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud==0.34.0
google-cloud-vision==0.36.0
google-pasta==0.1.4
googleapis-common-protos==1.5.8