extends layout

block content
    .Title
        center
            h1= title
            h3 Welcome to Global Disaster Data Server

    .Important.Logging.Message
        p   Please refer to the front end for monitoring purposes